/***************
 * Accomodation Cards*
 ***************/
.accomodation-card {

    height: 430px;
    color: $white;
    padding: 20px;
    text-align: center;
    margin: 2vw 1vw;
    //@include basic-shadow;
    background-color: rgba($color: $white, $alpha: 0.07);
    border-radius: 10px;
    text-decoration: none;


    &__header {
        @include header-style-1;   
    }

    &__image {
        height: 150px;
    }

    &__description {
        text-align: left;
        margin-top: 5px;
        height: 100px;
    }

    &__price {
        margin-bottom: 20px;
        background-color: $orange;
        color: $dark;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        @include header-style-1;
    }

    &__btn {
        @include basic-button-pink;
        padding: 10px 50px;
        @include basic-shadow;

        &:hover {
            transition: $basic-transition;
            filter: none;
        }
    }
    
}


 /***************
 * Accomodation Search*
 ***************/


/***************
 * Media Quiries*
 ***************/
@media screen and (min-width: 770px) {}

@media screen and (max-width: 769px) {}