 .main-container--admin {
     padding-bottom: 2vw;
 }
 
 .admin-box {
     color: $white;
     padding: 3vw;
     margin-top: 1vw;
     background: $dark;
     box-shadow: (7px 7px 50px 0px rgba(black, 0.95));
     text-align: center;
     border-radius: 5px;
     

     &__header{
        @include header-style-1;
        color: $pink;
     }

     &__sub-header {
         @include header-style-2;
         text-transform: none;
     }

     &__image {
         max-width: 300px;   
     }

     &__content-list {
         text-align: left;
         ul {
             list-style: none;
             padding: 0px;
         }
     }

     &__content-list-item {
         @include header-style-1;
         box-shadow: (7px 7px 30px 0px rgba(black, 1));
         font-size: 1.2em;
         background-color: $dark;
         margin: 30px 0px;
         padding: 5px;
         border-radius: 5px;
         text-align: center;
         transition: $basic-transition;
         

         a {
             color: $pink;
             text-decoration: none;
         }

         &:hover {
             box-shadow: none;
             background: $purple;
         }
     }
     &__card-container {
         text-align: left;        
     }

     &__card {
          color: $white;
          padding: 20px;
          text-align: center;
          margin: 2vw 1vw;
          
          box-shadow: (7px 7px 50px 0px rgba(0, 0, 0, 0.75));
          border-radius: 10px;
          text-decoration: none;
     }

      &__card-header {
          background-color: $purple;
          text-align: left;
          @include header-style-1;
          margin-bottom: 20px;
      }

      &__card-subheader {
          text-align: right;
          
          @include header-style-2;
          
      }

      &__card-button {
          @include basic-button-pink;
          
      }

     


 }