/***************
 * Admin - Main container*
 ***************/

.main-container {
  &--admin {
    padding-bottom: 6vw;
  }
}

.admin-box {
  color: $white;
  padding: 50px;
  margin-top: 1vw;
  background: $dark;
  box-shadow: (7px 7px 50px 0px rgba(black, 0.95));
  text-align: center;
  border-radius: 5px;

  &__header {
    @include header-style-1;
    color: $pink;
    font-size: auto;
  }

  &__sub-header {
    @include header-style-2;
    text-transform: none;
  }

  &__date {
    text-align: right;
    font-size: 0.9em;
    font-style: italic;
  }

  &__image {
    max-width: 300px;
    margin: auto;
  }

  &__content-list {
    text-align: left;
    ul {
      list-style: none;
      padding: 0px;
    }
  }

  &__content-list-item {
    @include header-style-1;
    box-shadow: (7px 7px 30px 0px rgba(black, 1));
    font-size: 1.3em;
    background-color: $dark;
    margin: 30px 0px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: $basic-transition;

    a {
      color: $pink;
      text-decoration: none;
    }

    &:hover {
      box-shadow: none;
      background: $purple;
    }
  }

  /***************
 * Admin - Message/Enquiry list cards*
 ***************/
  &__card-wrapper {
    &:hover {
      text-decoration: none;
    }
  }

  &__card {
    color: $white;
    padding: 20px;
    margin: 2vw 1vw;
    box-shadow: (7px 7px 50px 0px rgba(0, 0, 0, 0.75));
    border-radius: 10px;
    text-decoration: none;
    transition: $basic-transition;

    &:hover {
      box-shadow: (7px 7px 20px 0px rgba($purple, 0.5));
      background-color: rgba($purple, 0.2);
    }
  }

  &__card-header {
    background-color: $purple;
    @include header-style-1;
    margin-bottom: 20px;
    text-align: right;
    padding: 5px;
  }

  &__card-subheader {
    text-align: right;
    @include header-style-2;

    &--italic {
      text-align: right;
      font-size: 0.9em;
      font-style: italic;
    }
  }

  &__card-button {
    @include basic-button-dark;
  }

  &__card-icon {
    &--person {
      margin-top: 30px;
    }
  }

  /***************
 * Admin - Enquiries/Messages*
 ***************/
  &__message-wrap {
    margin: auto;
    text-align: left;
  }

  &__message-content {
    background-color: rgba($purple, 0.2);
    padding: 10px;
    margin: 5px;

    &--check-in {
      background-color: rgba($pink, 0.05);
    }
    &--check-out {
      background-color: rgba($pink, 0.05);
    }

    &--textbox {
      background-color: rgba($orange, 0.05);
    }
  }

  &__message-detail {
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 10px;
    @include header-style-1;

    &--pink {
      color: $pink;
      @include header-style-2;
      text-transform: none;
      word-break: break-all;
    }
  }

  &__basic-btn {
    @include basic-button-dark;
    border: none;
    text-align: center;
  }

  .__delete-btn {
    @include basic-button-pink;
    border: none;
    &--enquiry {
      margin-top: 2vw;
     
    }

     &:hover {
        background-color: $orange;
        color: $dark;
      }

    &--establishment {
      margin-top: 2vw;
    }
  }

  &__update-btn {
    @include basic-button-dark;
    border: none;
    margin: auto;
    transition: $basic-transition;

    &:hover {
      box-shadow: (7px 7px 20px 0px rgba($dark, 0.5));
      background-color: rgba($purple, 1);
      color: $pink;
    }
  }

  &__validation {
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    color: $orange;
    border-bottom: $basic-border-pink;
    border-top: $basic-border-pink;

    font-family: $textFont;
    transition: $basic-transition;
    animation-name: bigger;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  /***************
 * Admin - Create/Update establishment forms*
 ***************/
  &__form {
    text-align: left;
  }

  &__form-label {
    @include header-style-1;
    color: $orange;
  }

  &__form-input {
    @include form-base;
    @include autofillFix;
    padding: 10px;

    &:focus {
      outline: none;
      box-shadow: none;
      background-color: transparent;
      border-bottom: $basic-border-white;
      color: $white;
    }

    &::placeholder {
      color: rgba($color: $white, $alpha: 0.5);
    }

    &--select {
      & option {
        background-color: $pink;
        color: $dark;
      }

      &:focus {
        background-color: $dark;
      }
    }
  }
}

/***************
 * Media Quiries*
 ***************/
@media screen and (min-width: 577px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 577px) {
  .admin-box {
    &__header {
      font-size: 1.3em;
      
    }

    &__sub-header {
      font-size: 1em;
    }

    &__content-list-item {
      font-size: 1em;
    }

    &__card {
      margin: 40px 0px;
    }

    &__card-header {
      font-size: 1em;
      text-align: center;
      margin-top: 20px;
      
    }
  }
}
