.main-container {
    background-color: $dark;


    &--dark-pink {
        background-color: $dark;
        background: linear-gradient(180deg, rgba(11, 0, 29, 1) 30%, rgba(247, 41, 85, 0.4) 100%);
    }
}


.text-content {
    padding: 10px;
    margin-top: 20px;

    &--light {
        color: $white;

        .mainHeader{
            color: $pink;
        }

        .subHeader {
            color: $orange;
        }
    }
}



/***************
 * Media Quiries*
 ***************/
@media screen and (min-width: 770px) {
   
}

@media screen and (max-width: 769px) {
   

}