/***************
 *Footer Styling*
 ***************/
footer {
    background-color: $dark;
    padding: 20px 0px;
   
}


.footer-socialmedia {
    text-align: center;
    margin: 10px;

    &__header {
        color: $orange;
        @include header-style-1;
        font-size: 1.2em;
    }

    &__icons {
        margin: 10px;
    }

    &__link a {
        color: $pink;
        text-decoration: underline;

        &:hover {
            color: $orange;
        }
    }
}

.footer-contact {
    text-align: right;
    margin: 10px;

    &__header {
        color: $pink;
        @include header-style-1;
        font-size: 1.2em;
    }

    &__list {
        list-style: none;
        color: $orange;

    }
}

.footer-bottom {
    text-align: center;
    color: $pink;
    margin-top: 10px;


    &__logo {
        max-width: 200px;
        margin-bottom: 1vw;
    }
}

/***************
 * Media Quiries*
 ***************/
@media screen and (min-width: 577px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 577px) {

    .footer-socialmedia {
    margin: 20px 0px;

    &__header {
        font-size: 1.5em;
    }
}
    
    .footer-contact {
    text-align: center;
    margin: 20px 0px;

    &__header {
        font-size: 1.5em;
    }

    &__list {
        padding: 0px;
    }
}

.footer-bottom {
    margin: 20px 0px;
}

}