/***************
 *Footer Styling*
 ***************/
footer {
    background-color: $dark;
    padding: 10px;
    margin-top: 3vh;
}

.footer-newsletter {
    

    .newsletter {
        text-align: center;

        &__header {
            color:$pink;
            @include header-style-1;
            font-size: 1.2em;
        }

         &__form {
        display: inline-block;
       
        
    }

     &__input {
         border: none;
         border-radius: 0%;
         height: 50px;
     }

     &__btn {
         border: none;
         border-radius: 0%;
        @include header-style-1;
        font-size: 1em;
        background-color: $pink;
        color: $dark;
        height: 50px;

        &:visited {
            background-color: rgba($color: $dark, $alpha: 0.5);
        }

        &:hover {
            background-color: rgba($color: $orange, $alpha: 0.9);
            transition: $basic-transition;
        }

        &:focus {
            background-color: rgba($color: $orange, $alpha: 0.9);
        }
     }

     &__validated,
     &__error {
         margin-top: 1vw;
         transition: $basic-transition;
         animation-name: bigger;
         animation-duration: 350ms;
         animation-iteration-count: 1;
         max-width: 400px;
         margin-left: auto;
         margin-right: auto;
         font-size: 1em;
         color: $orange;
         
         
         
         }
    }
}


.footer-socialmedia {
    text-align: center;

    &__header {
        color: $orange;
        @include header-style-1;
        font-size: 1.2em;
    }

    &__icons {
        margin: 10px;
    }

    &__link a {
        color: $pink;
        text-decoration: underline;

        &:hover {
            color: $orange;
        }
    }
}

.footer-contact {

    text-align: right;

    &__header {
        color: $pink;
        @include header-style-1;
        font-size: 1.2em;
    }

    &__list {
        list-style: none;
        color: $orange;
        
    }
}

.footer-bottom {
    text-align: center;
    color: $pink;
    

    &__logo {
        max-width: 150px;
        margin-bottom: 1vw;
    }
}

/***************
 * Media Quiries*
 ***************/
@media screen and (min-width: 577px) {

}

@media screen and (max-width: 577px) {

}