/***************
 * Global tags style*
 ***************/

body {
  background-color: $dark;
  font-family: $textFont;
}

.btn:focus {
  outline: none;
  border: none;
  background-color: $purple;
  outline: solid $pink 4px; 
}

.btn:active,
.btn:focus {
  background-color: $dark !important;
  color: $pink !important;
}

