/***************
 *Header Images*
 ***************/

.headerImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-width: 100%;


    &--home {
        background-image: url("../../assets/images/gradient/momentista-reR1qazgsBM-unsplash_2.jpg");
    }


    &__textBox {
        background-color: rgba($color: $white, $alpha: 0.6);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(5px);

        &--dark {
            color:$dark;
        }
        
    }

    &__btn {
        font-family: $headerFont;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 20px;



        &--dark a{
            background-color: $purple;
            color: $pink;
            padding: 10px;
            text-align: center;
            
        }
    }

}