/***************
 *Navigation Bar Styling*
 ***************/

 //General Navbar Syles//
.navbar {
    background-color: $white;
}

.container__navLinks {
    
}

//The Admin part of navbar//
.container__navLinksAdmin {
    text-align: right;
}
//Navbar - Links//
#nav-link {
    @include basic-link;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 5px 15px;
}

 #nav-link__admin {
     @include basic-link;
     text-transform: uppercase;
     font-size: 0.8em;
 }
    

//Navbar - Brand//

.navbar-brand img{
    max-width: 200px;
}


/***************
 * Media Quiries*
 ***************/
@media screen and (min-width: 770px) {
    .second-brand {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .navbar-brand {
        display: none;
    }

    .second-brand {
        max-width: 150px;
    }




    .dropdown-menu.show {
        background-color: transparent;
    }

}