/***************
 * Newsletter - Home Page*
 ***************/

.newsletter-home {
  padding: 10px;
  margin-top: 20px;
  color: $white;
  text-align: center;
  margin-bottom: 5vw;
 

  .newsletter {
    &__header {
      color: $pink;
      @include header-style-1;
      font-size: 2.3em;
    }

    &__subheader {
      color: $orange;
      @include header-style-1;
      font-size: 1.8em;
      margin-bottom: 2vw;
    }

    &__form {
      display: inline-block;
      @include basic-shadow;
    }

    &__input {
      border: none;
      border-radius: 0%;
      height: 60px;
    }

    &__btn {
      border: none;
      border-radius: 0%;
      @include header-style-1;
      font-size: 1.7em;
      background-color: $dark;
      height: 60px;

      &:visited {
        background-color: rgba($color: $dark, $alpha: 0.5);
      }

      &:hover {
        background-color: rgba($color: $pink, $alpha: 0.9);
        transition: $basic-transition;
      }

      &:focus {
        background-color: rgba($color: $dark, $alpha: 0.9);
      }
    }

    &__validated,
    &__error {
      margin-top: 3vw;
      border-right: $basic-border-white;
      border-left: $basic-border-white;
      transition: $basic-transition;
      animation-name: bigger;
      animation-duration: 350ms;
      animation-iteration-count: 1;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2em;
    }
  }
}

/***************
 * Newsletter- Footer*
 ***************/
.footer-newsletter {
  margin: 10px 0px;
  .newsletter {
    text-align: center;

    &__header {
      color: $pink;
      @include header-style-1;
      font-size: 1.2em;
    }

    &__form {
      display: inline-block;
    }

    &__input {
      border: none;
      border-radius: 0%;
      height: 50px;
    }

    &__btn {
      border: none;
      border-radius: 0%;
      @include header-style-1;
      font-size: 1em;
      background-color: $pink;
      color: $dark;
      height: 50px;

      &:visited {
        background-color: rgba($color: $dark, $alpha: 0.5);
      }

      &:hover {
        background-color: rgba($color: $orange, $alpha: 0.9);
        transition: $basic-transition;
      }

      &:focus {
        background-color: rgba($color: $orange, $alpha: 0.9);
      }
    }

    &__validated,
    &__error {
      margin-top: 1vw;
      transition: $basic-transition;
      animation-name: bigger;
      animation-duration: 350ms;
      animation-iteration-count: 1;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      font-size: 1em;
      color: $orange;
    }
  }
}

/***************
 * Media Quiries*
 ***************/
@media screen and (max-width: 1200px) {
}

@media screen and (min-width: 770px) {
}

@media screen and (max-width: 769px) {
}

@media screen and (max-width: 577px) {
  .newsletter-home {
    padding: 10px;
    margin-top: 20px;
    color: $white;
    text-align: center;
    margin-bottom: 5vw;

    .newsletter {
      &__header {
        font-size: 2em;
      }

      &__subheader {
        font-size: 1.4em;
        margin-bottom: 20px;
      }

      &__btn {
        margin-top: 15px;
      }
    }
  }

  .footer-newsletter {
    margin-bottom: 20px;
    .newsletter {
      text-align: center;

      &__header {
        font-size: 1.5em;
      }

      &__btn {
        font-size: 1.5em;
        margin-top: 10px;
      }
    }
  }
}
