/***************
 * Color Scheme*
 ***************/
/* Color Theme Swatches in RGBA */
$dark: rgba(11, 0, 29, 1);
$purple: rgba(43, 1, 72, 1);
$pink: rgba(247, 41, 85, 1);
$orange: rgba(255, 148, 85, 1);
$white: rgba(255, 255, 255, 1);


/* Color Theme Swatches in Hex 
#0B001D; dark
#2B0148; purple
#F72955; pink
#FF9455; orange
#FFFFFF; white
}

*/

 /***************
 * Gradients *
 ***************/



 /***************
 * Typography *
 ***************/
$headerFont: 'Quicksand', sans-serif;
$textFont: 'Montserrat',sans-serif;


 /***************
 * Borders *
 ***************/



 /***************
 * Transitions *
 ***************/
 $basic-transition: 0.3s ease-in-out;